<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <!-- <ul>
          <li id="results-2008">2008</li>
          <li id="results-2012">2012</li>
      </ul> -->
      <!-- <svg width="960" height="500"></svg> -->
      <!-- <div id="map"></div> -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script> -->
  </body>
</html>
