    .chart div {
      font: 10px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }
    .chart rect {
      fill: steelblue;
    }

    .chart text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }
    .bar {
    }
    .other {
      fill: steelblue;
    }
    .dem {
      fill: blue;
    }
    .rep {
      fill: red;
    }
    .green {
      fill: lightgreen;
    }
    .lbt {
      fill: yellow;
    }
    .bar:hover {
    fill: brown;
    }
    .axis--x path {
    display: none;
    }

    #map {
      height: 100%;
    }
